{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Reparaciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TipoReparacion</th>
                <th>Realizacion</th>
                <th>Observaciones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reparacione in reparaciones %}
            <tr>
                <td>{{ reparacione.id }}</td>
                <td>{{ reparacione.tipoReparacion }}</td>
                <td>{{ reparacione.realizacion }}</td>
                <td>{{ reparacione.observaciones }}</td>
                <td>
                    <a href="{{ path('reparaciones_show', {'id': reparacione.id}) }}">show</a>
                    <a href="{{ path('reparaciones_edit', {'id': reparacione.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reparaciones_new') }}">Create new</a>
{% endblock %}
