{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Reparaciones</h1>

    <table class="table">
        <thead>
            <tr>
                {% if app.session.get('dni') == "admin" %}
                <th>Id</th>
                {% endif %}
                <th>TipoReparacion</th>
                <th>Realizacion</th>
                <th>Observaciones</th>
                <th>Fecha</th>
                {% if app.session.get('dni') == "admin" %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for reparacione in reparaciones %}
            <tr>
                {% if app.session.get('dni') == "admin" %}
                <td>{{ reparacione.id }}</td>
                {% endif %}
                <td>{{ reparacione.tipoReparacion }}</td>
                <td>{{ reparacione.realizacion }}</td>
                <td>{{ reparacione.observaciones }}</td>
                <td>{{ reparacione.fecha ? reparacione.fecha|date('Y-m-d') : '' }}</td>
                {% if app.session.get('dni') == "admin" %}
                <td>
                    <a class="btn btn-dark" href="{{ path('reparaciones_show', {'id': reparacione.id}) }}">Ver</a>
                    <a class="btn btn-dark" href="{{ path('reparaciones_edit', {'id': reparacione.id}) }}">Editar</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay ninguna reparacion registrada.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-danger" href="{{ path('coches_index') }}"  style="margin-left:3%;">Volver a lista de coches</a>
    {% if app.session.get('dni') == "admin" %}
    <a class="btn btn-success" style="margin-left:3%;" href="{{ path('reparaciones_new') }}">Crear nueva</a>
    {% endif %}
{% endblock %}
