<!DOCTYPE html>

<title>Reparaciones</title>

{% block body %}
    <h1>Reparaciones</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reparacione.id }}</td>
            </tr>
            <tr>
                <th>TipoReparacion</th>
                <td>{{ reparacione.tipoReparacion }}</td>
            </tr>
            <tr>
                <th>Realizacion</th>
                <td>{{ reparacione.realizacion }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ reparacione.observaciones }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reparaciones_index') }}">back to list</a>

    <a href="{{ path('reparaciones_edit', {'id': reparacione.id}) }}">edit</a>

    {{ include('reparaciones/_delete_form.html.twig') }}
{% endblock %}
