{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Reparacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reparacione.id }}</td>
            </tr>
            <tr>
                <th>TipoReparacion</th>
                <td>{{ reparacione.tipoReparacion }}</td>
            </tr>
            <tr>
                <th>Realizacion</th>
                <td>{{ reparacione.realizacion }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ reparacione.observaciones }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" style="margin-left:3%;" href="{{ path('reparaciones_index') }}">Volver a la lista</a>

    <a class="btn btn-dark" href="{{ path('reparaciones_edit', {'id': reparacione.id}) }}">Editar</a>

    {{ include('reparaciones/_delete_form.html.twig') }}
{% endblock %}
