{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Coches</h1>

    <table class="table">
        <thead>
            <tr>
                {% if app.session.get('dni') == "admin" %}
                <th>Id</th>
                {% endif %}
                <th>Marca</th>
                <th>Modelo</th>
                <th>Observaciones</th>
                {% if app.session.get('dni') == "admin" %}
                <th>Acciones</th>
                {% endif %}
                <th>Reparaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for coch in coches %}
            <tr>
                {% if app.session.get('dni') == "admin" %}  
                <td>{{ coch.id }}</td>
                {% endif %}
                <td>{{ coch.marca }}</td>
                <td>{{ coch.modelo }}</td>
                <td>{{ coch.observaciones }}</td>
                {% if app.session.get('dni') == "admin" %}
                <td>
                    <a class="btn btn-dark" href="{{ path('coches_show', {'id': coch.id}) }}">Ver</a>
                    <a class="btn btn-dark" href="{{ path('coches_edit', {'id': coch.id}) }}">Editar</a>
                </td>
                {% endif %}
                <td>
                    <a class="btn btn-dark" href="{{ path('reparaciones_index', {'id': coch.id})}}">Ver reparaciones</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay coches.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.session.get('dni') == "admin" %}
    <a class="btn btn-success" href="{{ path('coches_new') }}"  style="margin-left:3%;">Crear nuevo</a>
    {% endif %}
{% endblock %}
