{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Coches</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Observaciones</th>
                {% if app.session.get('dni') == "admin" %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for coch in coches %}
            <tr>
                <td>{{ coch.id }}</td>
                <td>{{ coch.marca }}</td>
                <td>{{ coch.modelo }}</td>
                <td>{{ coch.observaciones }}</td>
                {% if app.session.get('dni') == "admin" %}
                <td>
                    <a href="{{ path('coches_show', {'id': coch.id}) }}">show</a>
                    <a href="{{ path('coches_edit', {'id': coch.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.session.get('dni') == "admin" %}
    <a href="{{ path('coches_new') }}">Create new</a>
    {% endif %}
{% endblock %}
