<!DOCTYPE html>

<title>Coches</title>

{% block body %}
    <h1>Coches</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coch.id }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ coch.marca }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ coch.modelo }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ coch.observaciones }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coches_index') }}">back to list</a>

    <a href="{{ path('coches_edit', {'id': coch.id}) }}">edit</a>

    {{ include('coches/_delete_form.html.twig') }}
{% endblock %}
