{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                {% if app.session.get('dni') == "admin" %}
                <th>Id</th>
                {% endif %}
                <th>Email</th>
                <th>DNI</th>
                <th>Nombre completo</th>
                {% if app.session.get('dni') == "admin" %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% if app.session.get('dni') == "admin" %}
                <td>{{ user.id }}</td>
                {% endif %}
                <td>{{ user.email }}</td>
                <td>{{ user.DNI }}</td>
                <td>{{ user.nombreCompleto }}</td>
                {% if app.session.get('dni') == "admin" %}
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-dark">Ver</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-dark">Editar</a>
                    <br>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.session.get('dni') == "admin" %}
    <a href="{{ path('user_new') }}" class="btn btn-success" style="margin-left:3%;">Crear nuevo usuario</a>
    {% endif %}
{% endblock %}
